body{
    font-family: sans-serif;
    font-size: 13px;
    background: no-repeat 0 0 #eeffff;
    color: #444444;
}

.profile_pic {
    height: 300px;
    width: 225px;
}

ul, div {
    border: 1px solid #000000;
    overflow: hidden;
}

/*___________________________________leaderboard.css_________________________________________*/


#leaderboard{
    width: 25%;
}


/*___________________________________________________________________________________________*/
/*____________________________________Leaders Properties______________________________________*/



.leader {
    overflow: hidden;
    text-shadow: 10px;
}
.leader li {
    float: left;
    list-style-type: none;
}
.leader_data{
    padding: 0;
    padding-left:10px;
}
.profile_pic_leaderboard img {
    height: 80px;
    width: 80px;
}



/*___________________________________________________________________________________________*/
/*____________________________________Likers Properties______________________________________*/



.likers{
   padding: 0;
    
}
    
.profile_pic_likers img {
    height: 30px;
    width:30px;
}


/*___________________________________________________________________________________________*/